html,
body {
	padding: 0;
	margin: 0;
	background: #4cb5be;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-white {
	background: #ffffff;
}

.d-flex {
	display: flex;
}

.fd-column {
	flex-direction: column;
}

.text-center {
	text-align: center;
}

.master-card {
	border-radius: 10px;
	width: 350px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #ffffff;
}

.card-master-image {
	width: 100%;
	height: 140px;
	background: url("bg-pattern-card.svg");
	background-repeat: no-repeat;
}

.user-image {
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.user-image img {
	position: absolute;
	top: -50px;
	height: 85px;
	width: 85px;
	border-radius: 50%;
	border: 5px solid #ffffff;
}

.user-details-block {
	text-align: center;
	margin-bottom: 20px;
}

.age {
	color: #cccccc;
	padding-left: 5px;
}

.user-details-block h4 {
	margin: 10px 0;
}

.user-details-block h5 {
	font-size: 12px;
	text-align: center;
	color: #cccccc;
	margin: 10px 0;
}

.flp-block {
	border-top: 1px solid #cccccc;
	display: flex;
	justify-content: space-evenly;
	padding: 20px 20px 30px;
}

.total-count {
	font-size: 30px;
	padding-bottom: 5px;
}

.total-count-text {
	color: #cccccc;
}
